body{
  text-align: center;
}

img{
  width: 150px;
  height:auto;
  max-height: 150px;
}


ul{
  list-style: none;
  font-size: 1.5em;
}

.pizzaButton{
  height:200px;
  width:200px;
  background-color: #EFEFEF;
  margin-top:40px;
}

#pizzaToppings, #pizzaDelivery, #pizzaForm, #pizzaPay, #pizzaReceipt{
  display:none;
}
